<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Tinder's Forray into Reddit</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="page-title">
  <h1>Welcome to Tinder's Reddit</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="form">
    <h2>Login to your account</h2>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <button>Login</button>
    </form>
  </div>
  <div class="form">
    <h2>Create an account</h2>
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <input type="email" name="email" placeholder="Email Address"/>
      <button type="submit">Register</button>
    </form>
  </div>
  <div class="cta"><a>Forgot your password?</a></div>
</div>
<script src="js/login.js"></script>
</body>
</html>